
@import "./_header.scss";
@import "./_fonts.scss";
html {
    font-size: 62.5%;
}
body {
    background-color: black;
    height: 100%;
}
h1{
    color: white;
}
.flex-parent {
    background-color: #1b1b1b;
    height: 200vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    font-size: 1000%;
}
.flex-child {
    background-color: green;
    margin: 30px;
    height: 200vh;
    color: blue;
}
#flex-grow-1 {
    flex-grow: 1;
}
#flex-grow-2 {
    flex-grow: 2;
}
.flex-sm {
    background-color:rgb(36, 78, 170);
    height: 45vh;
}